<%= render partial: 'layouts/errors', locals: { object: @comment } %>

<%= form_for [@skatespot, @comment] do |f| %>

  <h3><%= f.label "Choose the Spot" %></h3>  
  <%= f.collection_select :skatespot_id, Skatespot.all, :id, :name %><br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.label :busted %>
    <%= f.check_box :busted %>
    <%= f.label :status %>
    <%= f.text_field :status %>
    <%= f.submit %>
    
<% end %>
