<%= form_for [@skatespot, @comment] do |form| %>
    <% if @comment.errors.any?%>
    <div id="error_explanation">
      <h3><%= pluralize(@skatespot.comments.errors.count, "error") %> glitched the saving process</h3>

      <ul>
        <% @skatespot.comments.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>   
    
    <%= form.label :content %>
    <%= form.text_area :content %>
    <%= form.label "Busted??" %>
    <%= form.check_box :busted %>
    <%= form.label "Create a Status" %>
    <%= form.text_field :status %>
    <%= form.label "Existing Statuses" %>
    <%= collection_select :status, nil, Comment.all, :id, :status, include_blank: true %>
    <%= form.submit %>
<% end %>