

<%= form_for @comment do |f| %>
  <% if @comment.errors.any?%>
    <div id="error_explanation">
      <h3><%= pluralize(@comment.errors.count, "error") %> glitched the saving process</h3>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>
  
  <%= f.label "Choose the Spot" %>  
  <%= f.collection_select :skatespot_id, Skatespot.all, :id, :name %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.label :busted %>
    <%= f.check_box :busted %>
    <%= f.label :status %>
    <%= f.text_field :status %>
    <%= f.submit %>
<% end %>
