<h1>Comments Page</h1>

<ul>
<% @comments.each do |comment| %>
  <h1><%= comment.skatespot.name%></h1>
  <%= "Content:" %>
  <%= comment.content%><br>
  <h3><%= "Is the spot busted??"%><%= comment.busted%></h3><br>
  <%= "Spot Status:" %>
  <%= comment.status %><br>
  
  <%= link_to "Write a Comment", new_skatespot_comment_path %><br>

  <%= render_comment_edit %>

  <% end %>
</ul>
