<%= link_to "All the Spots", skatespots_path %>
<h1><%= @skatespot.name %> Comments List</h1>

<% @comments.each do |spot_comment| %>
  <ul>
    <%= spot_comment.skatespot.name %>
    <li>User: <%= link_to spot_comment.user.name, user_path(spot_comment.user) %></li>
    <li>Posted at: <%= spot_comment.created_at.strftime(" %Y-%b-%d,  at %I:%M%p") %></li>
    <li>Comment: <%= spot_comment.content %></li>
    <li>Busted??  <%= spot_comment.busted %></li>
    <li>Spot Status:  <%= spot_comment.status %></li>

    <% if current_user == spot_comment.user %>
      <%= link_to "Edit This Comment", edit_skatespot_comment_path(spot_comment.skatespot, spot_comment) %> 
      <%=link_to("Delete This Comment!", skatespot_comment_path(spot_comment.skatespot, spot_comment), method: :delete) %>
    <% end %>
  </ul>
<% end %>