<h1>New Users Signup!</h1>
<% if @user.errors.any?%>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> glitched the saving process</h3>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :city %> 
  <%= f.text_field :city %> 
  <%= f.submit "Sign Me Up"%>
  <% end %>
  