<% #binding.pry %>
<%= link_to "All the Spots", skatespots_path %>
<h1>User Show Page!</h1>

<ul>
  <h2><li><%= @user.name %></li></h2>
  <li><%= @user.email %></li>
  <li><%= @user.city %></li><br>
</ul>

<h2><%= @user.name %>'s Skatespots</h2>
  <ol>
    <% @user.skatespots.each %> 
      <% @user.skatespots.each do |s|%>
      <li><%= s.name %><br></li>
      <%= s.location %>
  <%end%>
  </ol>

  