<%= form_with(model: @skatespot, local: true) do |f| %>
  <% if @skatespot.errors.any?%>
    <div id="error_explanation">
      <h3><%= pluralize(@skatespot.errors.count, "error") %> glitched the saving process</h3>

      <ul>
        <% @skatespot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %><br>
    <%= f.label "Create a Category" %>
    <%= f.text_field :category %><br>

    <%= f.label "OR Select from Existing Categories" %>
    <%= collection_select :category, nil, Skatespot.all, :id, :category, include_blank: true %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
  <%= f.submit %>
  <% end %>