<h2>What's Up <%= current_user.name%>!!!</h2>
<ul>
<% @skatespots.each do |spot| %>
  <h1><%= link_to spot.name, skatespot_path(spot) %></h1>
  <%= spot.location %>
  <% end %>
</ul>
<%= link_to "Add Your Skatespot!", new_skatespot_path %> 

<%= form_tag(skatespots_path, method: "get") do %>
  <%= label_tag(:query, "Search:") %> 
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
  <% end %>