<%= link_to "All the Spots", skatespots_path %><br>
  
  <h1><%= @skatespot.name %></h1>
<div class="comment-info-box">
  <%= link_to "View All Comments", skatespot_comments_path(@skatespot)%>

    <h4>Location: <%= @skatespot.location %></h4>
    <h4>Nickname: <%= @skatespot.nickname %></h4>
    <h4>Category: <%= @skatespot.category %></h4>
    <h4>Description: <%= @skatespot.description %></h4>
</div>
    <%= link_to "Spot is BUSTED!", skatespot_path(@skatespot), method: :delete %><br>
   <%= link_to "Edit This Spot!", edit_skatespot_path(@skatespot) %><br>
    <%= link_to "Write a Comment for this Spot!", new_skatespot_comment_path(@skatespot) %><br>


   
   



