<%= link_to "All the Spots", skatespots_path %>
  <h1>Skatespot: <%= @skatespot.name %></h1>

  <%= link_to "Comments", comments_path([:skatespot_id]) %>

    <h4>Location: <%= @skatespot.location %></h4>
    <h4>Nickname: <%= @skatespot.nickname %></h4>
    <h4>Spot Category: <%= @skatespot.category %></h4>
    <h4>Description: <%= @skatespot.description %></h4>

    <%= link_to "Spot is BUSTED!", skatespot_path(@skatespot), method: :delete %><br>
   <%= link_to "Edit This Spot!", edit_skatespot_path(@skatespot) %><br>
    <%= link_to "Write a Comment for this Spot!", new_comment_path(@skatespot) %><br>


   
   



