<%= link_to "All the Spots", skatespots_path %>
  <h1><%= @skatespot.name %></h1>
    <%= @skatespot.location %><br>
    <%= @skatespot.nickname %><br>
    <%= @skatespot.category %><br>
    <%= @skatespot.description %><br>

   <h3>Comments Section</h3>
   <ul>
    <%= @skatespot.comments.each do |comment| %>
      <%= comment.content %>
      <%= render_comment_edit %>
      <%end%>
    
    </ul>

<%= link_to "Spot is BUSTED!", skatespot_path(@skatespot), method: :delete %><br>
<%= link_to "Edit This Spot!", edit_skatespot_path(@skatespot) %><br>
<%= link_to "Write a Comment for this Spot!", new_skatespot_comment_path(@skatespot) %><br>