<!DOCTYPE html>
<html>
  <head>
    <title>SkateSpotApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render_navigation %>
    <%= yield %>
  </body>

</html>
